        .main_menu_item li,
        .main_menu_item {
            /* float: left; */
            /* margin: 3px; */
            list-style: none;
        }
        
        .sub_menu {
            margin: 0 !important;
        }
        /* .nav_items {
            display: flex;
            justify-content: space-around;
        } */